body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f0f8ff;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.518);
    padding: 20px;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
}

#quote {
    font-size: 18px;
    color: #555;
    margin-top: 15px;
}